body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

.equals {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.loading {
  transition-delay: 7s;
}